@font-face {
  font-family: 'Economica';
  src: url('./assets/fonts/Economica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Economica';
  src: url('./assets/fonts/Economica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Economica';
  src: url('./assets/fonts/Economica-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Economica';
  src: url('./assets/fonts/Economica-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* ----------------------------- Base Selectors ----------------------------- */
:root {
  font-family: 'Economica', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #0D1117;
  }

  a:hover {
    color: #4AE4FF;
  }
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 750px;
}

/* -------------------------- Component Containers -------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  align-items: center;
  border: #4AE4FF 0.1em solid;
  border-radius: 1em 1em 0 0;
  background-color: #131922;
}
.logo {
  width: 5em;
  height: 5em;
}

/* ---------------------------------- TEXT ---------------------------------- */
h1 {
  color: #4AE4FF;
  font-size: 2.074rem;
  margin: 0.25em 0;
}
h2 {
  color: rgb(195, 213, 221);
  font-size: 1.44rem;
  margin: 0.25em 0;
}
